{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
	<title></title>

	
</head>
<body>
	{% block content %}
			<main>
				<div class="main-section">
					<div class="container">
						<div class="main-section-data">
							<div class="row">
								<div class="col-lg-4 col-md-6 pd-left-none no-pd">
									<div class="user-data full-width">
									 
										<div class="user-profile">
											<div class="username-dt">
												<div class="usr-pic">
													{% load static %}
													<img src="{% static 'images/profiles/user-pic.png' %}" alt="">
													 
												</div>
											</div>
											
												<div class="ident">
													<h4>{{user}}</h4>
													<p>{{user.first_name}} </p>	
													<p>{{user.last_name}}</p>	
													 
												</div>
												<div class="bla">
													<div class="user-specs">
														<h5>Niveau</h5>
														<p><b>{{user.userprofile.niveau}}</b></p>	
														 
													</div>
													<div class="user-specs">
														<h5>Fonction</h5>
														<p>{{user.type}}</p>	
														 
													</div>
												</div>
										</div>
										 <ul class="user-fw-status">
											{% if user != me %}
											<li>
												<button type="submit" class="btn btn-success">Success</button>
											</li>
											{%endif%}
											<li>
												<h4>Followers</h4>
												<span>155</span>
											</li>
											<li>
												<a href="#" title="">View Profile</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-7 col-md-6 no-pd">
									<div class="main-ws-sec">
										<div class="posts-section">
											<div class="post-bar">
												<div class="job_descp">
														<div class="form-group">
														<form method="POST">
																{% csrf_token %}
																<label for="example-text-input" class="col-3 col-form-label">Nom de club</label>
																<div class="col-10">
															{{club.nom_de_club}}
																</div>
															<label for="example-text-input" class="col-3 col-form-label">Description</label>
															<div class="col-10">
															{{club.description}}
															</div>
															<label for="example-text-input" class="col-3 col-form-label">Email</label>
															<div class="col-10">
															{{club.email}}
															</div>
															<label for="example-text-input" class="col-3 col-form-label">Site</label>
															<div class="col-10">
															{{club.site}}
															</div>
															<div class="col-10"> 
															<input type="submit"class="btn btn-success" name="btn btn-default" value= 'submit'>
															</div>	
														</form>
														
													 </div>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
	{% endblock %}	
</body>
</html>