{% extends "base.html" %}
 
<!DOCTYPE html>
<html>
<head>
	<title></title>

	
</head>
<body>
	{% block content %}
 
			<main  >
				 
				<div class="main-section">
					<div class="container-fluid">
						<div class="main-section-data">
							<div class="row">
								<div class="col-lg-3 col-md-6 pd-left-none no-pd">
									<div class="user-data full-width">
									 
										<div class="user-profile">
											<div class="username-dt">
												<div class="usr-pic">
													{% load static %}
													 
													 
												</div>
											</div>
											
												<div class="event">
													 
													<h5>Nom de l'evenement :</h5>
													<p><b>{{event.nom_de_event}} </b></p>
													<h5>Salle :</h5>
													<p><b>{{event.salle}} </b></p>
													<h5>Description :</h5>
													<p><b>{{event.description}} </b></p>
													<h5>Date :</h5>
													<p><b>{{event.date}} </b></p>
													 	
													 
												</div>
												<div class="bla">
													
													<div class="user-specs">
														<h5>Staff</h5>
														<p><b><a href="/isamm/profile/{{user.username}}">{{user.first_name}}</a></b></p>	
														<p><b>{{user.first_name}}</b></p>
														<p><b>{{user.first_name}}</b></p>
														<p><b>{{user.first_name}}</b></p>
														<p><b>{{user.first_name}}</b></p>
														 
													</div>
													 
													
													<div class="user-specs">
														<h5>Fonction</h5>
														<p>{{user.type}}</p>	
														 
													</div>
												</div>
										</div>
										 <ul class="user-fw-status">
											{% if user != me %}
											<li>
													<button type="submit" class="btn btn-success">Success</button>
											</li>
											{%endif%}
											<li>
												<h4>Followers</h4>
												<span>155</span>
											</li>
											<li>
												<a href="#" title="">View Profile</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 no-pd" >
									<div class="main-ws-sec">
										<div class="posts-section">
											<div class="post-bar">
												<div class="job_descp"  >
														
														{% if event.admin == user %}
																<h3>Event {{ event.nom_de_event}}</h3>
														
																<form enctype="multipart/form-data" method="POST" >
																<div class="form-group">
																																
																
																 
																{% csrf_token %}
																<label for="exampleFormControlTextarea1">Ajouter une photo</label>
																{{activity.image}}
																<label for="exampleFormControlTextarea1">Ajouter une information</label>
																{{activity.info}}
														
																
																																	
																</div>
															 
																<button type="submit" class="btn btn-success" name="activity"  >Success</button>
																
																</form>
															 
															 


														{% endif %}
															  
													 

												

														 
														
												</div>
											</div>
										</div>
									</div>
									<div class="main-ws-sec">
											<div class="posts-section">
												<div class="post-bar"  >
													<div class="job_descp" ng-init="eve='{{event.nom_de_event}}'">
															
													
															
															<div >
																	
																	<div class="list-group">
																		{% for act in acts reversed %}
																		 
																			<a href="{{act.image.url |default_if_none:'#'}}" class="list-group-item list-group-item-action flex-column align-items-start">
																					<div class="d-flex w-100 justify-content-between">
																							<div class="postImage"> <img  src="{{act.image.url |default_if_none:'#'}}" width=100%  
																							   alt=""> </div>
																					  
																					 
																				 
																					</div>
																					<h5 class="mb-1">{{club_form.nom_de_club}}</h5>
																					<small>{{act.date}}</small>
																					<p class="mb-1">{{act.info}}</p>
																					<small>Donec id elit non mi porta.</small>
																				  </a>
																		{% endfor %}
																		</div>	
																			
															</div>		

															
													 
															
													</div>
												</div>
											</div>
										</div>
										
								</div>
								<div class="col-lg-3 col-md-6 no-pd" >

										<div class="main-ws-sec">
												<div class="posts-section" ng-app="isamm.demo" ng-controller="CalenderController">
														<div ng-init="load()">
															</div>
														<div id="calendar-container">
																 
																		{% verbatim %}
																		{{dates}}
																	   {% endverbatim %}
																	 
																<ul>
																		<button ng-click="next(-1)" class="prev">&#10094;</button>
																		<button ng-click="next(+1)" class="next">&#10095;</button>
																		<li>
																	 
																		</li>
																	  </ul>
																	  {% verbatim %}
																<div id="calendar-header">
																	<span id="calendar-month-year"> </span>
																</div>
																<div id="calendar-dates">
																 
																</div>
																{% endverbatim %}
															</div>
												</div> 
																
													</div>

										</div>
									</div>
								 
								 
							</div>
						</div>
					</div>
				</div>
			</main>
	{% endblock %}	
</body>
</html>