{% extends "base.html" %}
 
<!DOCTYPE html>
<html>
<head>
	<title></title>

	
</head>
<body>
	{% block content %}
	<div class="sidebar-nav">
		<div class="all"> 
			<div class="clubProfile">
        
        <h2 class="text-center hidden-xs">Club {{club_form.nom_de_club}}</h2>
        <p class="text-center user-description hidden-xs">
            <i>{{club_form.description}}</i>
		</p>
		{% if club_form.superviseur == user %}
			 
			  <button type="button" class="btn btn-primary" id="hideClub">Changer</button>
			  {% endif%}
		<ul class="list-group list-group-flush">
				<li class="list-group-item"><div class="ident">
						<div class="specs">
								<h4>Admin</h4>
								<p>{{club_form.superviseur.first_name}}&nbsp;{{club_form.superviseur.last_name}} </p>	
								 
						</div>
				
						<img src="/media/pics/IMG_4733.jpg" class="image--cover">
						 
					</div></li>
				<li class="list-group-item"><div class="ident">
						<div class="specs">
								<h4>Admin</h4>
								<p>{{club_form.superviseur.first_name}} </p>	
								<p>{{club_form.superviseur.last_name}}</p>
						</div>
				
						<img src="/media/pics/IMG_4733.jpg" class="image--cover">
						 
					</div></li>
				<li class="list-group-item">Morbi leo risus</li>
				<li class="list-group-item">Porta ac consectetur ac</li>
				<li class="list-group-item">Vestibulum at eros</li>
				
			  </ul>
			  
		<ul class="user-fw-status">
			{% if club_form.superviseur == user %}
			{% else %}
		<li>
			<form method="POST">
					{% csrf_token %}
					 {{demande.as_p}}
				 
					<button type="submit" class="btn btn-primary" name="invi">Send</button>
			</form>
			
		</li>
	</ul>
		{%endif%}
		 
	
	</div>
	<div class="clubEdit">
			<form enctype="multipart/form-data" method="POST">
					{% csrf_token %}
					<label for="exampleFormControlTextarea1">Description</label>
					 {{clubEdit.description}}
					 <label for="exampleFormControlTextarea1">Email</label>
					 {{clubEdit.email}}
					 <label for="exampleFormControlTextarea1">Site</label>
					 {{clubEdit.site}}
					 <label for="exampleFormControlTextarea1">Nom de club</label>
					 {{clubEdit.nom_de_club}}
					 <label for="exampleFormControlTextarea1">Photo cover</label>
					 {{clubEdit.CoverImage}}
				 
					<button type="submit" class="btn btn-primary" name="edit"  >Send</button>
			</form>
	</div>
</div>
	</div>
 
			<div class="cover">
				 
				<img  id="example1" src='{{ clb.CoverImage.url }}' >	
				</div>
 
 
			<main class="mainclass" >
		 
						
				<div class="main-section">
					<div class="container-fluid">
						<div class="main-section-data">
							<div class="row">
								<div class="col-lg-3 col-md-6 pd-left-none no-pd">
							 
								</div>
								<div class="col-lg-6 col-md-6 no-pd">
										<div class="main-ws-sec">
											<div class="posts-section">
												<div class="post-bar">
													<div class="job_descp" >
															
															{% if club_form.superviseur == user %}
	
																{% if nb_event == 0 %}
																<div class="alertNew"> 
																	<h4>Vous n'avez pas encore ajouté une evenement</h4>
																	<h5>Ajoutez-en un maintenent</h5>
																	<button type="button" class="btn btn-primary" id="hide" name="eventShow">Ajouter</button>
																</div>
																<div class="addEvent">
																<form method="POST">
																	{% csrf_token %}
																	{% for field in event.visible_fields %}
																	<tr>
																		<th>{{ field.label_tag }}</th>
																		<td>
																		{{ field.errors }}
																		{{ field }}
																		{{ field.help_text }}
																		</td>
																	</tr>
																	{% endfor %}
															 
	
																	<button type="submit" class="btn btn-primary" name="event">Success</button>
																</form>
																</div>
																{% else %}
																<div class="alertNew"> 
																		 
																		<h5>Ajoutez-en une evenement</h5>
																		<button type="button" class="btn btn-primary" id="hide" name="eventShow">Ajouter</button>
																</div  >
																<div class="addEvent">
																		<form method="POST">
																			{% csrf_token %}
																			{% for field in event.visible_fields %}
																			<tr>
																				<th>{{ field.label_tag }}</th>
																				<td>
																				{{ field.errors }}
																				{{ field }}
																				{{ field.help_text }}
																				</td>
																			</tr>
																			{% endfor %}
																	 
			
																			<button type="submit" class="btn btn-primary" name="event">Success</button>
																		</form>
																		</div>
																		{% endif %}
																		{% endif %}
																	<h5>List d'evenements de club {{ club_form.nom_de_club}} :</h5>
																	<div >
																	<div class="list-group"  >
																			{% for event in events reversed %}
																				
																				<a href="/isamm/event/{{event.nom_de_event}}" class="list-group-item list-group-item-action flex-column align-items-start">
																					<div class="d-flex w-100 justify-content-between">
																					  <h5>{{event.nom_de_event}}</h5>
																					 
																					  <small>{{event.date}}</small>
																					</div>
																					 
																					<small>Donec id elit non mi porta.</small>
																				  </a>
	
																			{% endfor %}
	
																		</div>
																	</div>
																 
	
																 
	
	
																
																  
															 

															
															
	
													
	
															 
															
													
												</div>
											</div>
										</div>
										
										 
											
									</div>
									</div>
							 
								
							
					
							</div>
						</div>
					</div>
					</div>
					 
			</main>
	{% endblock %}	
</body>
</html>