body {
    line-height: 1;
    font-family: /* Roman */
    -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Lucida Grande, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, /* CJK */
    Hiragino Kaku Gothic Pro, Meiryo, Hiragino Sans GB W3, /* Arabic */
    Noto Naskh Arabic, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, /* Thai */
    Noto Sans Thai, Thonburi, Dokchampa, Droid Sans Thai, /* Sans Fallbacks */
    Droid Sans Fallback, '.SFNSDisplay-Regular', /* CJK Fallbacks */
    Heiti SC, Microsoft Yahei;
    overflow-x: hidden;
    font-weight: 400;
    background-color: #eeeeee;
}

.main-section {
    float: left;
    width: 100%;
}

main {
    padding: 20px 0 60px 0;
}

p::first-letter {
    text-transform: capitalize;
}

h5 {
    color: #686868;
}

.user-data {
    text-align: center;
}

.full-width {
    float: left;
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.user-profile {
    float: left;
    width: 100%;
}

.username-dt {
    float: left;
    width: 100%;
    background-color: #4f30ff;
    padding-top: 40px;
}

.usr-pic {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: -48px;
    border-radius: 100%;
}

 
.bla {
    display: inline-block;
    float: center;
}

.ident {
    float: left;
    width: 100%;
    padding: 63px 20px 0 20px;
}
.event {
    float: left;
    width: 100%;
    padding: 63px 20px 0 20px;
    text-align: left;
}

.user-specs {
    display: inline-block;
    float: left;
    padding: 43px 20px 27px 20px;
}

.main-ws-sec {
    float: left;
    width: 100%;
}

.posts-section {
    float: left;
    width: 100%;
}

.post-bar {
    float: left;
    width: 100%;
    background-color: #fff;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
}

.job_descp {
    float: left;
    width: 100%;
    padding: 40px 20px 40px 20px;
    border-bottom: 1px solid #e5e5e5;
}

.job_descp>p {
    color: #686868;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-fw-status {
    float: left;
    width: 100%;
}

.user-fw-status li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 15px 0;
}

ol,
ul {
    list-style: none;
    width: 100%;
    margin: 0;
    /* To remove default bottom margin */
    padding: 0;
}

* {
    box-sizing: border-box;
}

.post {
    padding-top: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.user-fw-status li:nth-child(1),
.user-fw-status li:nth-child(2) {
    border-bottom: 0;
}

.section-Edit {
    float: left;
    width: 100%;
    background-color: #fff;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
    padding: 30px;
}

.user-fw-status .list-group {
    margin-top: 60px;
}
.w-100 {
    width: 100%!important;
    padding-bottom: 20px;
}
label {
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.events{
    margin-top:40px;
}


* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 8px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 11.6%;
    color: #666;
    text-align: center;
    font-size: 12px;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 11.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 10.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}



#calendar-container{
 
  
    
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial;
    background-color:white;
}

#calendar-container>div{
    padding: 0;
    margin-bottom: 20px;
    margin-top: 10px;
}

#calendar-month-year{
    margin: 5px;
}

#calendar-dates>table>tr>td{
 
    margin: 5px;
}
@media  screen and (min-width: 200px) and (max-width: 1500px) {
    .Day {
        background-color: #eff0f2;
        padding: 7px;
    }
}
@media  screen and (min-width: 1501px) and (max-width: 1920px) {
    .Day {
        background-color: #eff0f2;
        padding: 10px;
    }
}
 
.activeDay {
    background-color: red;
    cursor: pointer;
   
}
.activeDay:hover {
    background-color: brown;
    cursor: pointer;
   
}

.prev {
    float: left;
      background-color:  #007bff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.next {
    float: right;
    cursor: pointer;
    background-color:  #007bff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

table{
    border-collapse: separate;
    padding: 15px;
}


.container-fluid{
    width: 90%;
}

tr{
    margin-top: 5px;
}

postImage{
  
}
 
img{
    image-orientation: initial;
}

.mb-1{
    padding-top: 15px;
    padding-bottom: 15px;
}


#example1 {
 
    
    margin-bottom: 25px;
   
 
 
    float : right;
    max-width: 90%;
    height: auto;
    position: relative;
    top: -150px;
}

.cover{
    width: 90%;
    height: 300px;
    float: right;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.mainclass{
  
}


.sidebar-nav {
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    position: fixed;
    width: 340px;
    height: 1000px;
    top: 0px;
    padding: 50px 10px 0px 10px;
    background: #ffffff;
    z-index: 99;
    
}

.all{
    width: 325px;
    height:710px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}

.navbar-nav{
    padding-left:250px;
   
}

.bg-light {
    background-color: #5576f3 !important;
    box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.08);
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(250,250,250,1);
}

.image--cover {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
   
    float: right;
    object-fit: cover;
    object-position: center right;
  }
  .image--cover-srch {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
   
    float: right;
    object-fit: cover;
    object-position: center right;
  }
.specs{
    display: inline-block;
    width: 50%
}

.ident {
    float: left;
    width: 100%;
    padding: 0px 0px 0 0px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin: 10px;
}


.search-page{
    position: fixed;
    width: 400px;
    height:800px;
    right: 50px;
    background:white;
    z-index: 2;
    box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.08);
}


.srch-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:100px;
    text-align: center;
  
 
}

.srch-items{
    margin-top: 200px;
}


.srchButton{
    background-color: #4f30ff;
}